@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Oxygen+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  overflow-x: hidden;
}
:root {
  --green: #1fa4a0;
  --purple: #3455fd;
  --yellow: #f5be5d;
  --gray: #ecf0f1;
  --white: #ffffff;
  --black: #373541;
  --light-gray: rgba(236, 240, 241, 0.5);
  --dark-gray: rgba(55, 53, 65, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/* Preloader */
.loaded #preloader {
  transform: translateY(-100%);
}
#preloader {
  background-color: var(--white);
  z-index: 10;
  transition: all 1000ms 750ms;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  height: 100vh;
  width: 100vw;
}
.preloader__image {
  height: 50vh;
  animation: float 1000ms linear infinite;
}
.preloader__container {
  height: 2rem;
  width: 6.563rem;
  display: flex;
  position: relative;
}
.preloader__container .preloader__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3455fd;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.preloader__container .preloader__circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
.preloader__container .preloader__circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}
::selection {
  background-color: var(--yellow);
  color: var(--black);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  margin-bottom: 1rem;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--gray) var(--black);
}
::-webkit-scrollbar-track {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 0.25rem;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem;
}
#hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem 0;
  color: var(--black);
}
#hero__heading {
  font-weight: 400;
  font-size: 2.3rem;
}
.color--light {
  color: var(--dark-gray);
}
#hero__tagline {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--dark-gray);
}
#hero__illustration {
  max-height: 85vh;
  min-width: 45vw;
  overflow: hidden;
  animation: float 3500ms infinite;
}

#generator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 2rem 3rem;
  background-color: var(--gray);
}
.generation__types {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.generation__type {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--white);
}
.main {
  display: flex;
}
.type__title {
  flex-grow: 2;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  background-color: #5cc4c0;
  box-shadow: inset 0 0 0 .1rem #fbf4e9;
  border-top-left-radius: 1rem;
  border: .2rem solid #5cc4c0;
}
.type__title__text {
  text-transform: uppercase;
  font-family: "Oxygen Mono", sans-serif;
  writing-mode: vertical-rl;
  color: var(--white);
  font-size: 2.5rem;
  letter-spacing: .2rem;
}
.main__input-output, .fun__fact {
  display: flex;
}
.output {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  overflow-x: auto !important;
  gap: 0 .2rem;
  color: rgba(55, 53, 65, 0.5);
}
.output > * {
  font-family: "Oxygen Mono", monospace;
  overflow: visible !important;
}
.output__number {
  margin: auto 0;
  display: block;
}
.type__content {
  padding: 1rem;
  width: calc(100% - 5rem);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
.fun__fact {
  display: flex;
}
.fun__fact__heading {
  box-shadow: inset 0 0 0 .1rem #fbf4e9;
  border: .2rem solid #f8b474;
  background-color: #f8b474;
  padding: 1rem 0;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  font-size: .9rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  color: var(--white);
  text-transform: uppercase;
}
.fun__fact__text {
  display: block;
}
.fun__fact__content {
  background-color:#fbf4e9;
  color: var(--black);
  opacity: .9;
  border-bottom-right-radius: 1rem;
  border-left: none;
  display: block;
  line-height: 1.5;
  width: calc(100% - 5rem);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.generation__type__heading {
  text-transform: uppercase;
  color: var(--black);
  font-size: 1.1rem;
  text-align: center;
  font-weight: 700;
}
.generation__type__description {
  color: var(--black);
  opacity: .75;
  font-weight: 700;
  font-size: .8rem;
  text-transform: lowercase;
  max-width: 55ch;
  margin: .25rem auto 0 auto;
  text-align: center;
}
.generation__type__inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.input__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.input__label {
  color: var(--black);
}
.input {
  text-transform: uppercase;
  background-color: rgba(236, 240, 241, 1);
  color: rgba(55, 53, 65, 0.5);
  padding: .75rem 1rem;
  border: none;
  letter-spacing: .1rem;
  border-radius: .2rem;
  transition: all 400ms;
  border-bottom: .15rem solid transparent;
}
.input:hover {
  color: rgba(55, 53, 65, 0.8);
  background-color: rgba(55, 53, 65, 0.12);
}
.input:focus {
  border-color: var(--yellow);
  color: rgba(55, 53, 65, 0.8);
  outline: none;
}
.reset__button {
  background-color: #5cc4c0;
  border: none;
  padding: .5rem 1rem;
  color: var(--white);
}
.configuration__container {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recently__copied__text {
  color: var(--black);
  opacity: .75;
  text-align: center;
}
.generation__type__outputs {
  display: grid;
  margin: 0 1rem;
  border-radius: .5rem;
  grid-template-columns: 1fr auto;
}
.output {
  background-color: rgba(55, 53, 65, 0.1);
}
.copy__btn {
  background-color: #f8b474;
  border: none;
  padding: .3rem .75rem;
}
.copy__btn__icon {
  width: 2rem;
}
#letters {
  opacity: 0;
  width: 0;
}
.checkbox {
  width: 0.9rem;
  border-radius: 0.2rem;
  margin: 0.1rem 0.5rem 0 0.2rem;
  outline: 0.1rem solid var(--yellow);
  border: 0.2rem solid var(--white);
  height: 0.9rem;
  display: inline-block;
  transition: all 400ms;
}
.checkbox__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox__container * {
  cursor: pointer;
}
.checkbox__container::selection,
.checkbox__container *::selection {
  background-color: inherit;
  color: inherit;
}
#letters:checked + .input__label .checkbox {
  background-color: var(--yellow);
}

#explanation__content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem 0;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1.2rem;
}
#explanation__heading {
  background-color: #5cc4c0;
  padding: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
  color: var(--white);
  font-size: 1.4rem;
}
#explanation__content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  line-height: 2.5;
  padding: 2rem 4rem;
  color: var(--black);
  opacity: 0.8;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
}
.copyright {
  color: var(--black);
  font-size: 0.9rem;
}
#contact {
  font-size: 0.8rem;
  opacity: 0.7;
  font-weight: 700;
}
.email {
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin-bottom: -0.2rem;
}
.message {
  margin: .5rem auto;
  background-color: #5cc4c0;
  padding: .5rem .75rem;
  opacity: 0;
  transition: all 700ms;
  color: var(--white);
}
.recently__copied__value {
  max-width: 100%;
  overflow-x: auto !important;
  display: inline-flex;
  gap: .2rem;
  text-align: center;
  flex-direction: row;
}
.error {
  background-color: #f8b474;
}
.recently__copied__value > * {
  overflow-x: visible;
  font-family: 'Oxygen Mono', monospace;
}
.digitsDisabled .repetition__chance {
  display: none !important;
}
.digitsDisabled .checkbox__container {
  opacity: 0.5;
}
@media only screen and (max-width: 1200px), (orientation: portrait) {
  #hero {
    flex-direction: column;
    text-align: center;
  }
  #hero__content {
    align-items: center;
  }
  #generator {
    display: flex;
    flex-direction: column;
    padding: 3vw;
  }
  .instructions {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .generation__types {
    order: 2;
  }
}
@media only screen and (max-width: 700px) {
  #explanation__content {
    padding: 2rem;
  }
  .input__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
  }
  #explanation__content {
    line-height: 1.5;
  }
  .input {
    width: 100%;
  }
  #configuration__container {
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (max-width: 550px) {
  #hero__heading {
    font-size: 6vw;
  }
  #hero__tagline {
    font-size: 4.5vw;
  }
  #explanation__content {
    padding: 2rem 1rem;
  }
  #hero__illustration {
    width: 95vw !important;
    height: auto !important;
  }
  .main {
    flex-direction: column;
  }
  .type__title {
    width: 100%;
    border-top-right-radius: 1rem;
  }
  .type__content {
    width: 100%;
  }
  .type__title__text {
    writing-mode: horizontal-tb;
  }
  .fun__fact__content {
    text-align: center;
    font-size: .9rem;
    padding: .75rem .3rem;
  }
}
@keyframes float {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(-.5rem);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
} 